.suggestionsContainer {
  position: relative;
}

.suggestionsList {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.suggestionsList li {
  padding: 5px;
  cursor: pointer;
}

.suggestionsList li:hover {
  background-color: #f2f2f2;
}
.hide-element {
  display: none;
}

.recipeModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(243, 220, 220, 0.1);
  padding: 50px;
  border-radius: 5px;
  z-index: 1;
  height: 1000px;
  overflow-y: auto;
  padding-bottom: 400px;
  margin-top: 200px;
  border-radius: 50px;
  
}

 .like-btn {
  position: absolute;
  margin-top: -10px;
  font-weight: bolder;
  left: 5px;
  padding: 5px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.like-btn {
  right: 10px;
}

.close-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  font-weight: bolder;
  padding: 5px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Custom styling for scroll bar */
.recipeModal::-webkit-scrollbar {
  width: 10px; /* Width of the scroll bar */
  background-color: white; /* Background color of the scroll bar */
}

.recipeModal::-webkit-scrollbar-thumb {
  background-color: #666; 
  border-radius: 5px; 
}

.recipeModal::-webkit-scrollbar-thumb:hover {
  background-color: black; /* Color of the scroll bar thumb on hover */
}

/* Media query for small screens */
@media screen and (max-width: 767px) {
  .recipeModal {
    width: 90%;
    max-width: 500px;
  }
}

/* Media query for medium and large screens */
@media screen and (min-width: 768px) {
  .recipeModal {
    width: 60%;
    max-width: 800px;
  }
}


