.title,
.subtitle {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.selectYourIngredient {
  text-align: left;
  margin-left: 50px;
}

span {
  margin-left: 30px;
}

.noRecipeMessage {
  color: blue;
}

.input-container {
  position: relative;
}

.suggestionsContainer {
  position: relative;
}

.suggestionsList {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.suggestionsList li {
  padding: 5px;
  cursor: pointer;
}

.suggestionsList li:hover {
  background-color: #f2f2f2;
}

.hide-element {
  display: none;
}

.ignorePantryMessage {
  color: red;
  font-size: 14px;
  margin-left: 100px;
}

.card {
  padding: 0px;
}

.recipeList .card .title {
  font-size: 10px;
}

.content {
  padding: 0px;
}

.card .button {
  align-items: center !important;
  font-size: 12px;
  padding: 10px;
  margin: 0px;
}

.recipe-title {
  font-size: 13px !important;
  text-align: center !important;
  margin-top: 2px !important;
}

.recipeModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
  z-index: 9999;
  max-height: 80vh;
  max-width: auto;
  height: auto;
  overflow-y: auto;
  margin-top: 100px;
  border-radius: 50px;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  line-height: px;
}

.recipeModal img {
  /* Align images to the right */
  justify-self: end;
}

.recipeModal h2,
.recipeModal div {
  /* Align text to the left */
  text-align: left;
  line-height: 30px;
}

.like-btn {
  position: absolute;
  margin-top: -10px;
  margin-right: -10px;
  font-weight: bolder;
  background-color: #0e4b42;
  left: 5px;
  padding: -2px !important;
  color: #fff;
  border: none;
  cursor: pointer;
  top: 10px;
  font-size: 15px;
}

.close-btn {
  position: absolute;
  margin-top: -10px;
  margin-right: 7px;
  font-weight: bolder;
  right: 5px;
  padding: 5px;
  color: #fff;
  background-color: #0e4b42;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: 10px;
  font-size: 15px;
}

.close-btn:hover {
  background-color: darkRed;
}

/* Custom styling for scroll bar */
.recipeModal::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

.recipeModal::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 5px;
}

.recipeModal::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

/* Media query for small screens */
@media screen and (max-width: 767px) {
  .recipeModal {
    display: none;
    width: 50vh;
    margin: auto;
    align-items: center;
    margin-top: 10px;
   font-size: small;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .recipeModal {
    display: none;
    width: 60vh;
    margin: auto;
    align-items: center;
    margin-top: 20px;
   font-size:medium;
  }
}

